/* Tablet */

@media(min-width:1150px) and (max-width: 1200px) {
    .top-menu_mobile {
        display: none;
        z-index: 1;
    }
    #page {
        position: relative;
        max-width: 100%;
        overflow: hidden;
    }
    .containerr {
        position: absolute;
        top: 0;
        margin: 13vh 8vw;
        width: 100%;
    }
    .bg-bubbles {
        padding: 0;
    }
    .card-started {
        position: relative;
        float: left;
        width: 400px;
        height: 100%;
        z-index: 11;
    }
    .card-inner {
        padding: 0;
        position: absolute;
        overflow: auto;
        left: 470px;
        right: 0;
        top: 15px;
        bottom: 15px;
        background: var(--white);
        transform-origin: center left;
        width: 530px;
        height: auto;
    }
    .card-inner .card-wrap {
        width: 100%;
        height: auto;
        overflow: auto;
        overflow-x: hidden;
    }
    .contact .grid {
        padding-right: 10px;
    }
    .card-inner:last-child() {
        margin-bottom: 100px;
        bottom: 100px;
    }
}

@media (min-width:1024px) and (max-width:1149px) {
    .top-menu_mobile {
        display: none;
        z-index: 1;
    }
    #page {
        position: relative;
        max-width: 100%;
        overflow: hidden;
    }
    .containerr {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        margin: 7vh 1vw;
        overflow: hidden;
    }
    .bg-bubbles {
        padding: 0;
    }
    .card-started {
        position: relative;
        float: left;
        width: 400px;
        height: 100%;
        z-index: 11;
    }
    .card-inner {
        padding: 0;
        position: absolute;
        overflow: auto;
        left: 470px;
        right: 0;
        top: 15px;
        bottom: 15px;
        background: var(--white);
        transform-origin: center left;
        width: 530px;
        height: auto;
    }
    .card-inner .card-wrap {
        width: 100%;
        height: auto;
        overflow: auto;
        overflow-x: hidden;
    }
    .about .info-list ul {
        padding: 0 0 0 25px;
    }
    .contact .grid {
        padding-right: 10px;
    }
    .card-inner:last-child() {
        margin-bottom: 100px;
        bottom: 100px;
    }
    .contact .info-list {
        padding: 0;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .indicator {
        display: none;
    }
    .mg-bt {
        padding-bottom: 100px;
    }
    .top-menu_mobile {
        display: block;
        z-index: 1;
        width: 100%;
    }
    .top-menu_mobile ul li.active::before {
        content: "";
        background: var(--text-theme);
        width: 60px;
        height: 60px;
        position: absolute;
        top: -25px;
        left: auto;
        border-radius: 50%;
        border: 4px solid #000;
        margin: 0 -21px;
    }
    #page {
        width: 100%;
        height: 100vh;
        /* overflow: hidden; */
    }
    .containerr {
        padding-bottom: 100px;
    }
    .about .grid {
        margin-top: 10px;
    }
    .header {
        display: none;
    }
    .card-started {
        position: relative;
        float: none;
        width: auto;
        height: auto;
    }
    .card-inner {
        position: relative;
        margin: 15px 0;
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        opacity: 0;
        visibility: visible;
        border-radius: 4px;
    }
    .card-inner.hidden {
        opacity: 1;
        visibility: visible;
        z-index: 9;
        /* display: none; */
    }
    .card-inner.active {
        display: block;
        opacity: 1;
    }
    .card-inner .card-wrap {
        overflow: visible;
        height: auto;
    }
    .card-started .profile {
        height: 600px;
    }
    .card-started::before {
        height: 600px;
    }
    .card-started::after {
        height: 600px;
    }
    .card-started .profile.no-photo .slide {
        height: 55%;
    }
    .card-started .profile.no-photo .title {
        margin-top: 200px;
    }
    .contact .grid {
        margin-top: 10px;
    }
    .about .info-list ul {
        padding: 0 0 0 25px;
    }
}

@media (min-width:576px) and (max-width: 767px) {
    .mg-bt {
        padding-bottom: 100px;
    }
    .top-menu_mobile {
        display: block;
        z-index: 1;
        height: 70px;
    }
    .indicator {
        display: none;
    }
    .top-menu_mobile ul li.active::before {
        content: "";
        background: var(--text-theme);
        width: 60px;
        height: 60px;
        position: absolute;
        top: -25px;
        left: auto;
        border-radius: 50%;
        border: 4px solid #000;
        margin: 0 -21px;
    }
    #page {
        width: 100%;
        height: 100vh;
        /* overflow: hidden; */
    }
    .containerr {
        padding-bottom: 100px;
    }
    .header {
        display: none;
    }
    .card-started {
        position: relative;
        float: none;
        width: auto;
        height: auto;
    }
    .card-inner {
        position: relative;
        margin: 15px 0;
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        opacity: 0;
        visibility: visible;
        border-radius: 4px;
    }
    .card-inner.hidden {
        opacity: 1;
        visibility: visible;
        z-index: 9;
        /* display: none; */
    }
    .card-inner.active {
        display: block;
        opacity: 1;
    }
    .card-inner .card-wrap {
        overflow: visible;
        height: auto;
    }
    .card-started .profile {
        height: 600px;
    }
    .card-started::before {
        height: 600px;
    }
    .card-started::after {
        height: 600px;
    }
    .card-started .profile.no-photo .slide {
        height: 55%;
    }
    .card-started .profile.no-photo .title {
        margin-top: 200px;
    }
    .services {
        margin-top: 250px;
    }
    .contact .grid {
        margin-top: 10px;
    }
    .about .grid {
        margin-top: 10px;
    }
    .about .info-list ul {
        padding: 0 0 0 25px;
    }
}

@media (min-width:414px) and (max-width: 575px) {
    .mg-bt {
        padding-bottom: 100px;
    }
    #page {
        width: 100%;
        height: 100vh;
        /* overflow: hidden; */
    }
    .containerr {
        padding-bottom: 100px;
    }
    .header {
        display: none;
    }
    .card-started {
        position: relative;
        float: none;
        width: auto;
        height: auto;
    }
    .card-inner {
        position: relative;
        margin: 15px 0;
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        opacity: 0;
        visibility: visible;
        border-radius: 4px;
    }
    .card-inner.hidden {
        opacity: 1;
        visibility: visible;
        z-index: 9;
        /* display: none; */
    }
    .card-inner.active {
        display: block;
        opacity: 1;
    }
    .card-inner .card-wrap {
        overflow: visible;
        height: auto;
    }
    .card-started .profile {
        height: 600px;
    }
    .card-started::before {
        height: 600px;
    }
    .card-started::after {
        height: 600px;
    }
    .card-started .profile.no-photo .slide {
        height: 55%;
    }
    .card-started .profile.no-photo .title {
        margin-top: 200px;
    }
    .services {
        margin-top: 250px;
    }
    .contact .grid {
        margin-top: 10px;
    }
    .about .info-list ul {
        padding: 0 0 0 25px;
    }
    .about .grid {
        margin-top: 10px;
    }
    .top-menu_mobile {
        display: block;
        z-index: 1;
        height: 70px;
    }
    .top-menu_mobile ul {
        padding: 0 10px 0 0;
    }
    .indicator {
        display: none;
    }
    .top-menu_mobile ul li.active::before {
        content: "";
        background: var(--text-theme);
        width: 60px;
        height: 60px;
        position: absolute;
        top: -25px;
        left: auto;
        border-radius: 50%;
        border: 4px solid #000;
        margin: 0 -25px;
    }
    .top-menu_mobile ul li.active a .icon {
        font-size: 25px;
        transform: translate(5px, -20px);
        -webkit-transform: translate(5px, -20px);
        -moz-transform: translate(5px, -20px);
        -ms-transform: translate(5px, -20px);
        -o-transform: translate(5px, -20px);
    }
    .top-menu_mobile ul li.active a .link {
        font-size: 14px;
        transform: translate(5px, 10px);
        -webkit-transform: translate(5px, 10px);
        -moz-transform: translate(5px, 10px);
        -ms-transform: translate(5px, 10px);
        -o-transform: translate(5px, 10px);
    }
}

@media (min-width:375px) and (max-width: 413px) {
    .mg-bt {
        padding-bottom: 100px;
    }
    #page {
        width: 100%;
        height: 100vh;
        /* overflow: hidden; */
    }
    .containerr {
        padding-bottom: 100px;
    }
    .header {
        display: none;
    }
    .card-started {
        position: relative;
        float: none;
        width: auto;
        height: auto;
    }
    .card-inner {
        position: relative;
        margin: 15px 0;
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        opacity: 0;
        visibility: visible;
        border-radius: 4px;
    }
    .card-inner.hidden {
        opacity: 1;
        visibility: visible;
        z-index: 9;
        /* display: none; */
    }
    .card-inner.active {
        display: block;
        opacity: 1;
    }
    .card-inner .card-wrap {
        overflow: visible;
        height: auto;
    }
    .card-started .profile {
        height: 600px;
    }
    .card-started::before {
        height: 600px;
    }
    .card-started::after {
        height: 600px;
    }
    .card-started .profile.no-photo .slide {
        height: 55%;
    }
    .card-started .profile.no-photo .title {
        margin-top: 200px;
    }
    .services {
        margin-top: 250px;
    }
    .contact .grid {
        margin-top: 10px;
    }
    .about .grid {
        margin-top: 10px;
    }
    .top-menu_mobile {
        display: block;
        z-index: 1;
        height: 70px;
    }
    .top-menu_mobile ul {
        padding: 0 10px 0 0;
    }
    .top-menu_mobile ul li.active a .icon {
        font-size: 25px;
        transform: translate(5px, -25px);
        -webkit-transform: translate(5px, -25px);
        -moz-transform: translate(5px, -25px);
        -ms-transform: translate(5px, -25px);
        -o-transform: translate(5px, -25px);
    }
    .top-menu_mobile ul li.active a .link {
        font-size: 14px;
        transform: translate(5px, 10px);
        -webkit-transform: translate(5px, 10px);
        -moz-transform: translate(5px, 10px);
        -ms-transform: translate(5px, 10px);
        -o-transform: translate(5px, 10px);
    }
    .indicator {
        display: none;
    }
    .top-menu_mobile ul li.active::before {
        content: "";
        background: var(--text-theme);
        width: 60px;
        height: 60px;
        position: absolute;
        top: -25px;
        left: auto;
        border-radius: 50%;
        border: 4px solid #000;
        margin: -2px -25px;
    }
    .info-list {
        font-size: 14px;
    }
}